@model WiserSenseHR.Data.Entities.Announcement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>YENİ DUYURU</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/Announcement/Index">Duyurular</a></li>
                </ol>
            </div>
        </div><
    </div>
</div>
<style>
    .content-header {
        border-top: 1px solid #ccc;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
</style>
<!-- /.content-header -->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">İsim</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnouncementDate" class="control-label">Duyuru Tarihi</label>
                <input asp-for="AnnouncementDate" class="form-control" type="date" />
                <span asp-validation-for="AnnouncementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <textarea asp-for="Description" id="summernote" style="display: none;"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

