
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminlte.min.css">

</head>
<body class="login-page" cz-shortcut-listen="true" style="min-height: 495.6px;">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Fizix AI</b>/HR</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <img src="/images/Fizix-Logo-Renkli.png" alt="FizixLogo" class="login-box-msg " style="opacity: .8; width:auto; max-height:50px; display:block; margin:0 auto;">
                <p class="login-box-msg">Oturumunuzu başlatmak için giriş yapın</p>

                <form id="loginForm" asp-action="Index" asp-controller="Login" method="post">
                    <div class="input-group mb-3">
                        <input id="email" name="email" type="email" class="form-control" placeholder="E-posta" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Şifre" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js?v=3.2.0"></script>


</body>
</html>